@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
:root {
    --font: 'Lato', sans-serif;
    --primary: #79C7C5;
    --secondary: #A1E2D9;
    --white: #F9FBFF;
    --dark: #777777;
}

.top-bar {
    width: 100%;
    height: 60px;
    background: var(--white);
    border-radius: 10px 10px 0 0;
}

.name {
    position: absolute;
    top: 22px;
    text-transform: uppercase;
    color: var(--dark);
    font-size: .8em;
    letter-spacing: 2px;
    font-weight: 500;
    left: 60px;
  }
  
.chatbox {
  position: absolute; 
  left: 35%;
  height: 75%;
  width: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(var(--dark), 0.5);
}